@model DocMd.Site.Models.ContentViewModels.ContentViewModel
@{
    ViewBag.Title = Model.Title;

    Layout = ViewBag.Layout;
}

@if (Model.TableOfContents == null)
{
    @if (Model.ContentType.Equals("text/html"))
    {
        @Html.Raw(Model.Body);
    }
    else
    {
        @Model.Body
    }
}
else
{
    <div class="main">
        <div class="section">
            <div class="container">
                <div class="row">
                    @foreach (var toc in Model.TableOfContents)
                    {
                        <div class="media">
                            <div class="media-body">
                                <h4 class="media-heading"><a href="@toc.Path">@toc.Title</a> <small>@toc.ChangedDateTime.ToString("dd MMMM yyyy hh:mm")</small></h4>
                                @toc.Excerpt
                            </div>
                        </div>
                    }
                </div>
            </div>
        </div>
    </div>
}

@section header{
    @Html.Raw(Model.Header);
}