@model Microsoft.Azure.Search.Models.DocumentSearchResult<DocMd.Shared.Search.SearchDocument>

@{
    ViewBag.Title = "Search";

    Layout = ViewBag.Layout;
}

<div class="main">
    <div class="section">
        <div class="row">
            <div class="col-md-8">
                <h1>Search Results</h1>
            </div>
        </div>
        <div class="row result-container">
            <div class="col-md-8 result-area">
                <ul class="list-unstyled">
                    @foreach (var result in Model.Results)
                    {
                        <li>
                            <a href="@result.Document.Path">@result.Document.Title</a>
                            <cite class="siteUrl">@result.Document.Path</cite>

                            <p>
                                @if (result.Highlights != null)
                                {
                                    @foreach (var highlight in result.Highlights)
                                    {
                                        @Html.Raw(highlight.Value)
                                    }
                                }
                                else
                                {
                                    @Html.Raw(result.Document.Excerpt)
                                }
                            </p>
                        </li>
                    }
                </ul>
            </div>
        </div>
    </div>
</div>